@import "../../../../styles/app";

.auxiliary,
.nav,
.topDriveControlSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.auxiliary {
  :global p {
    font-size: 12px;
    color: $text-muted;
    text-align: center;
  }
}

.auxiliaries,
.navigation,
.topDriveControl {
  display: flex;
  align-items: stretch;
}

.auxiliaries {
  flex-wrap: wrap;

  .auxiliary {
    min-width: 60px;
  }
}

.gauges {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .gaugeSection {
    display: flex;
    align-items: center;

    & > div {
      margin: 0 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .gaugeSection:first-child {
      margin-bottom: $spacer;
    }

    .gaugeSection:last-child {
      & > div:first-child {
        order: 2;
      }
    }
  }
}

.brightnessTitle {
  display: flex;
  align-items: center;
  color: var(--primary);

  :global .la {
    margin-left: $spacer / 2;
    font-size: 18px !important;
  }
}

.brightnessControl {
  width: fit-content;
  background: var(--widget-bg-color-dark);

  :global .widget-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brightnessSlider {
    height: 200px !important;
    margin: $spacer 0;
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    :global .widget-body {
      flex-direction: row;

      & > button:first-child {
        order: 3;
      }

      & > button:last-child {
        order: 1;
      }
    }

    .brightnessSlider {
      height: unset !important;
      margin: 0 $spacer;
      order: 2;
    }
  }
}

.widgetWithInput {
  background: var(--widget-bg-color-dark);
}


.topDriveControlSection {
  :global .btn {
    border-radius: 2px;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-width: 2px;
    border-color: var(--primary-light);

    &:before {
      transition: border-color .3ms ease-in-out;
    }

    &:not(.btnActive):hover {
      background-color: var(--background-secondary);
      border-color: var(--primary);
      &:before {
        border-color: var(--primary);
      }
    }

    &:not(.btnActive):active {
      background-color: var(--background-secondary) !important;
      &:before {
        border-color: var(--primary-dark);
      }
    }

    &:not(.btnActive) {
      background-color: var(--background-secondary) !important;
    }

    &.onState:before {
      content: " ";
      width: 2px;
      height: 12px;
      border: 1px solid var(--primary-light);
      border-radius: 10px;
    }

    &.offState:before {
      display: inline-block;
      content: " ";
      width: 12px;
      height: 12px;
      border: 2px solid var(--primary-light);
      border-radius: 50%;
    }

    &.btnActive {
      background: var(--primary-light);

      &:before {
        border-color: var(--white);
      }

      &:hover {
        background: var(--primary);
        border-color: var(--primary);
      }
    }
  }
}