@import '../../../styles/app';

.root {
  .invoiceLogo {
    max-height: 100px;
    border-radius: $widget-border-radius;
  }

  .invoiceBody {
    margin-top: 70px;
  }

  :global {
    .widget {
      padding: 10px 20px;
    }
  }
}

