@import "../../../../styles/app";

.mudPumpList {
  padding: 0 $spacer / 2;
  margin: 0;

  .mudPumpItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacer;

    :global p {
      margin: 0;
    }
  }
}

.spm {
  display: flex;

  .spmItem {
    flex: 1;
    text-align: center;

    :global h5 {
      color: var(--primary-light);
    }

    :global p {
      color: var(--text-muted);
      margin: 0;
    }
  }
}

.ibop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  :global p {
    color: var(--text-muted);
    margin: 0;
  }

  :global .la {
    color: var(--primary-light);
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
}