$button-size: 36px;

.root.controlButton {
  border-radius: 2px;
  min-width: $button-size;
  max-width: $button-size;
  min-height: $button-size;
  max-height: $button-size;
  border-color: var(--border-color-light);
  padding: 0;
}