.btn-link {
  background: transparent;
  border: 0;
  outline: 0;
  color: $link-color;
  padding: 0;
}

.widget-title {
  color: var(--widget-title-color);
}

.page-title {
  color: var(--text-color);
  margin: 0;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

table > thead > tr > th {
  border-top: none !important;
  border-bottom-width: 1px !important;
  text-transform: uppercase;
}

/* --------- Pagination --------- */
.pagination {
  font-weight: $font-weight-normal;

  > .page-item {
    display: inline; // Remove list-style and block-level defaults

    > .page-link,
    > span {
      border-radius: $border-radius;
      margin: 0 2px;
    }

    > .page-link {
      text-decoration: none;
      //border: none;
    }
  }
}

/* --------- List --------- */
.chartList {
  padding: 0;
  margin: 0;

  .chartListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacer;

    p, h6 {
      margin: 0;
      color: var(--text-muted);
    }

    .chartListIcon {
      color: var(--primary-light);
    }
  }
}

#root {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #d6dee5;
  --gray-400: #c1ccd3;
  --gray-500: #a3aeb7;
  --gray-600: #798892;
  --gray-700: #495057;
  --gray-800: #3c484f;
  --gray-900: #29323a;
  --black: #000;
  --gray-light: var(--gray-100);
  --primary-dark: #00828B;

  --black-100: rgba(0,0,0, 10%);
  --black-200: rgba(0,0,0, 20%);
  --black-300: rgba(0,0,0, 30%);

  & > .joulon-dashboard,
  & > .dashboard-solid {
    --sidebar-bg-color: #444;
    --sidebar-bg-color-light: #585858;
    --navbar-bg-color: var(--white);
    --body-bg: #f9fbfd;
    --text-color: var(--gray-700);
    --text-muted: var(--gray-600);
    --logo-color: var(--white);

    --navbar-link-color: var(--text-color);
    --navbar-link-hover-color: var(--gray-800);
    --navbar-link-hover-bg: transparent;
    --navbar-link-active-color: var(--gray-700);
    --navbar-link-active-bg: var(--gray-300);
    --navbar-link-disabled-color: var(--gray-400);
    --navbar-link-disabled-bg: transparent;

    --widget-bg-color: var(--white);
    --widget-bg-color-dark: var(--white);
    --widget-shadow: 0 23px 20px -20px rgba(167, 167, 167, 10%), 0 0 15px rgba(167, 167, 167, 6%);
    --widget-title-color: #444;
    --widget-title-color-light: #585858;

    --dropdown-bg-color: var(--white);

    --link-color: #007bff;
    --link-hover-color: #0062C4;

    --border-color-light: var(--gray-300);
    --background-secondary: white;

    // Bar component
    --bar-shadow: none;
    --bar-background: var(--gray-200);

    // Switcher component
    --switcher-border: 2px solid var(--primary-light);
    --switcher-active-color: rgba(255,255,255, 80%);
    --switcher-inactive-color: var(--primary-light);

    //Checkbox component
    --checkbox-border-active-color: var(--primary-light);
    --checkbox-border-inactive-color: rgba(57, 187, 196, 0.4);
    --checkbox-bg-active-color: var(--primary-light);
    --checkbox-bg-inactive-color: var(--white);
    --checkbox-mark-active-color: var(--white);
    --checkbox-mark-inactive-color: rgba(57, 187, 196, 0.4);
    --checkbox-mark-active-shadow: none;
  }

  & > .dashboard-transparent {
    --sidebar-bg-color: transparent;
    --sidebar-bg-color-light: #transparent;
    --navbar-bg-color: transparent;
    --body-bg: url('../images/bg-pattern.svg'), #313d4b;
    --text-color: var(--white);
    --text-muted: var(--gray-500);
    --logo-color: #00a9b4;

    --navbar-link-hover-color: var(--gray-100);

    --widget-bg-color: var(--black-100);
    --widget-bg-color-dark: var(--black-200);
    --widget-shadow: none;
    --widget-title-color: #00a9b4;
    --widget-title-color-light: #00BFCA;

    --dropdown-bg-color: rgba(41, 62, 59, 50%);

    --link-color: #39baff;
    --link-hover-color: #3094CC;

    --border-color-light: var(--black-300);
    --background-secondary: transparent;

    // Bar component
    --bar-shadow: inset 0 0 0 1px var(--black-300);
    --bar-background: var(--black-200);

    // Switcher component
    --switcher-border: 1px solid var(--black-200);
    --switcher-active-color: var(--primary-light);
    --switcher-inactive-color: var(--gray-600);

    //Checkbox component
    --checkbox-border-active-color: #212831;
    --checkbox-border-inactive-color: #212831;
    --checkbox-bg-active-color: #212831;
    --checkbox-bg-inactive-color: #212831;
    --checkbox-mark-active-color: var(--primary-light);
    --checkbox-mark-inactive-color: rgba(74, 74, 74, 0.75);
    --checkbox-mark-active-shadow: 0 1px 9px 1px #08aab5;
  }
}
