.animated {
  animation-duration: 0.5s;
}

.btn-link {
  background: transparent;
  border: 0;
  outline: 0;
  color: $link-color;
  padding: 0;
}

.widget-title {
  color: var(--widget-title-color);
}

.page-title {
  color: var(--text-color);
  margin-bottom: $spacer * 2;
}

table > thead > tr > th {
  border-top: none !important;
  border-bottom-width: 1px !important;
  text-transform: uppercase;
}

/* --------- Pagination --------- */
.pagination {
  font-weight: $font-weight-normal;

  > .page-item {
    display: inline; // Remove list-style and block-level defaults

    > .page-link,
    > span {
      border-radius: $border-radius;
      margin: 0 2px;
    }

    > .page-link {
      text-decoration: none;
      //border: none;
    }
  }
}

/* --------- Stats Row --------- */
.stats-row {
  margin-bottom: 1.25rem;
}

.stat-item {
  display: inline-block;
  padding-right: 1.25rem;

  & + .stat-item {
    padding-left: 1.25rem;
    border-left: 1px solid $hr-border-color;
  }

  .name {
    margin-bottom: 0.25rem;
    font-size: $font-size-sm;
  }

  &.stat-item-mini-chart {
    position: relative;
    top: -1rem;
    padding-left: 0;
    border-left: none;
  }
}

#root {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #d6dee5;
  --gray-400: #c1ccd3;
  --gray-500: #a3aeb7;
  --gray-600: #798892;
  --gray-700: #495057;
  --gray-800: #3c484f;
  --gray-900: #29323a;
  --black: #000;
  --gray-light: var(--gray-100);

  & > .joulon-dashboard,
  & > .dashboard-solid {
    --sidebar-bg-color: #444;
    --sidebar-bg-color-light: #585858;
    --navbar-bg-color: var(--white);
    --body-bg: #f9fbfd;
    --text-color: var(--gray-700);
    --text-muted: var(--gray-600);
    --logo-color: var(--white);

    --navbar-link-color: var(--text-color);
    --navbar-link-hover-color: var(--gray-800);
    --navbar-link-hover-bg: transparent;
    --navbar-link-active-color: var(--gray-700);
    --navbar-link-active-bg: var(--gray-300);
    --navbar-link-disabled-color: var(--gray-400);
    --navbar-link-disabled-bg: transparent;

    --widget-bg-color: var(--white);
    --widget-shadow: 0 23px 20px -20px rgba(167, 167, 167, 10%), 0 0 15px rgba(167, 167, 167, 6%);
    --widget-title-color: #444;
    --widget-title-color-light: #585858;

    --dropdown-bg-color: var(--white);
  }

  & > .dashboard-transparent {
    --sidebar-bg-color: transparent;
    --sidebar-bg-color-light: #transparent;
    --navbar-bg-color: transparent;
    --body-bg: url('../images/bg-pattern.svg'), radial-gradient(farthest-side ellipse at 10% 0, #36455a 20%, #889caf);
    --text-color: var(--white);
    --text-muted: var(--gray-500);
    --logo-color: #00a9b4;

    --navbar-link-hover-color: var(--gray-100);

    --widget-bg-color: rgba(41, 62, 59, 50%);
    --widget-shadow: none;
    --widget-title-color: #00a9b4;
    --widget-title-color-light: #00BFCA;

    --dropdown-bg-color: rgba(41, 62, 59, 50%);
  }
}
