@import "../../../../styles/app";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: row;
  }
}

.main {
  width: 90px;
  border-radius: 5px;
  padding: ($spacer / 2) 2px;
  background: var(--widget-bg-color);
  border: 1px solid var(--danger);
  margin: 0 ($spacer / 2);

  &.enabled {
    border-color: var(--engine-border-color);
  }

  .header {
    color: var(--primary-light);
    text-align: center;
  }

  .loadCharts {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .RPM,
  .AMP,
  .torque,
  .kW {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loadCharts,
  .torque {
    margin-bottom: $spacer;
  }

  @include media-breakpoint-down(sm) {
    width: unset;
    padding: $spacer / 2;
    margin: ($spacer / 2) 0;

    .header {
      text-align: left;
    }

    .body {
      display: flex;
    }

    .RPM,
    .AMP {
      flex-direction: row;
      align-items: stretch;

      :global .vertical-bar {
        height: unset !important;
        width: 5px !important;
      }

      .loadChartData {
        margin: 0 3px;
      }
    }

    .loadCharts,
    .torque {
      margin: 0 3px;
    }
  }

}

.title {
  color: var(--text-muted);
  font-size: 12px;
}

.value {
  color: var(--text-color);
}

.title, .value {
  margin: 0;
}