@import '../../styles/app';

.root {
  background-color: $white;
  @media (max-width: breakpoint-max(sm)) {
    margin-bottom: 50px;
  }

  :global {
    .alert {
      width: 265px;
      display: block;
      margin: 0;
      transition: margin-top 0.2s ease;
      background: $text-transparent;
      border: none;
      font-size: 0.8rem;
      line-height: 20px;
      padding: 2px 8px;
      color: #f8f8f8;
      border-radius: 10px;

      @media (max-width: breakpoint-max(sm)) {
        display: none !important;
      }    
    }
  }
}

.navItem {
  color: $text-transparent;
  font-size: 1.5rem;
  outline: 0;
  text-align: center;
  display: flex;

  &:hover,
  &:focus {
    color: $black !important;
  }

  i {
    &:before {
      font-weight: 800 !important;
    }
  }

  :global(.glyphicon),
  :global(.fa) {
    vertical-align: baseline;
  }
}

.imageAccount {
  width: 35px;
}

.dropdownMenu {
  background: #444444 !important;
  color: $white;

  @media (max-width: breakpoint-max(xs)) {
    right: auto;
    left: -100px;
  }

  &::after {
    left: auto !important;
    right: 15px;

    @media (max-width: breakpoint-max(xs)) {
      right: 112px;
    }
  }

  :global(.show) > & {
    display: block;
  }
}

.account {
  width: 180px !important;
  left: 18px !important;

  section {
    padding: 5px 10px;
    font-weight: normal;
  }

  button {
    padding: 7px 10px;
    font-weight: $font-weight-thin;

    a {
      color: $white !important;
      padding: 0;
    }

    i {
      margin-right: 5px;
      width: 15px;
    }
  }
}

.settings {
  border-radius: 3px !important;
  width: 122px !important;
  text-align: center !important;
  min-width: auto;
  left: -62px !important;

  h6 {
    color: #fff;
  }

  &::after {
    right: 53px !important;
    left: auto;
  }
}

.userName {
  color: $gray-700;
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  align-self: center;
  margin-left: 10px;
}

.dropdownArrow {
  transform: rotate(-90deg);
  margin-left: 15px;
}
