@import '../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--sidebar-bg-color);
  color: $sidebar-color;
  overflow-y: auto;
  transition: width $sidebar-transition-time ease-in-out;

  @include scroll-bar($sidebar-scrollbar-bg);

  :global .menu-caret {
    transition: opacity 0.2s ease-in-out;
  }

  &.sidebarClose {
    width: $sidebar-width-closed;

    :global .menu-caret {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.staticSidebar {
    width: $sidebar-width-open;
    :global .menu-caret {
      opacity: 1;
      pointer-events: all;
    }
  }

  @include media-breakpoint-down(sm) {
    &.sidebarClose {
      width: 0;
    }
  }
}

.logo {
  margin: 16px 0;
  font-size: 18px;
  width: 100%;
  font-weight: $font-weight-bold;
  text-align: center;
  transition: width $sidebar-transition-time ease-in-out;

  a {
    color: var(--logo-color);
    padding: 0 5px;
    text-decoration: none;
    white-space: nowrap;
  }
}

.sidebarClose .logo {
  width: $sidebar-width-closed;
}

.staticSidebar .logo {
  width: 100%;
}

.nav {
  padding: 30px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navTitle {
  margin: 35px 0 5px 11px;
  font-size: $font-size-larger;
  transition: opacity $sidebar-transition-time ease-in-out;
  color: $sidebar-color;

  @media (min-width: breakpoint-min(lg)) {
    opacity: 1;
  }
}

.sidebarClose .navTitle {
  opacity: 0;
}

.staticSidebar .navTitle {
  opacity: 1;
}

.actionLink {
  color: #aaa;
  float: right;
  margin-right: 15px;
  margin-top: -1px;
}

.labelName {
  opacity: 1;
  transition: opacity $sidebar-transition-time ease-in-out;
}

.sidebarClose .labelName {
  opacity: 0;
}

.staticSidebar .labelName {
  opacity: 1;
}

.groupTitle {
  margin-bottom: 15px;
}
