@import '../../../styles/app';

$sidebar-line-height: 37px;

.headerLink {
  overflow-x: hidden;
  white-space: nowrap;

  a {
    display: block;
    color: $sidebar-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  > a {
    position: relative;
    align-items: center;
    padding-left: 50px;
    line-height: $sidebar-line-height;

    &:hover {
      background-color: $sidebar-item-hover-bg-color;
    }

    > i {
      margin-right: 7px;
    }
  }

  .icon {
    font-size: $font-size-larger;
    display: block;
    position: absolute;
    top: 0;
    left: 7px;
    width: $sidebar-line-height;
    height: $sidebar-line-height;
    line-height: $sidebar-line-height;
    text-align: center;
    opacity: .7;
  }
}

.headerLabel {
  font-weight: 600;
  color: theme-color('warning');
}

.collapsed .caret {
  :global .fa {
    transform: rotate(-90deg);
  }
}

.caret {
  position: absolute;
  right: 0;
  top: 0;
  width: $sidebar-line-height;
  height: $sidebar-line-height;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  :global .fa {
    @include transition(transform 0.3s ease-in-out);
  }

  @include transition(background 0.1s ease-in-out);

  &:hover {
    background: darken($sidebar-item-hover-bg-color, 10%);
  }
}

a.headerLinkActive {
  color: $sidebar-item-active-color;
  font-weight: $font-weight-normal;
  background: $sidebar-item-active-bg-color;

  &:hover {
    color: $sidebar-item-active-color;
  }

  .icon {
    border-radius: 50%;
    opacity: 1;

    i {
      color: $sidebar-item-active-color;
    }
  }
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background-color: var(--sidebar-bg-color);

  a.headerLinkActive {
    font-weight: $font-weight-semi-bold;
    color: $sidebar-color;
  }

  ul {
    padding: 10px 0;
    background: var(--sidebar-bg-color-light);

    li {
      list-style: none;
    }

    a {
      padding: 10px 20px;
      font-size: $font-size-mini;

      &:hover {
        background-color: $sidebar-item-hover-bg-color;
      }
    }
  }
}

