@import "../../../../styles/app";


.connector {
  --connector-height: 15px;

  @include media-breakpoint-down(sm) {
    --connector-height: 8px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(var(--connector-height) * 3);
  width: calc(var(--connector-height) * 3);

  @include media-breakpoint-down(sm) {
    transform: rotate(-90deg);
  }

  .connectorPart {
    border-left: 1px solid var(--danger);
    height: var(--connector-height);
    width: 1px;
    position: absolute;
  }

  .connectorPart:nth-child(1) {
    top: 0;
  }

  .connectorPart:nth-child(2) {
    top: var(--connector-height);
  }

  .connectorPart:nth-child(3) {
    top: calc(var(--connector-height) * 2);
  }

  &:not(.connected) {
    .connectorPart:nth-child(2) {
      transform: rotate(45deg);
      left: 27px;
      top: 17px;

      @include media-breakpoint-down(sm) {
        left: 15px;
        top: 9px;
      }
    }
  }

  &.connected {
    .connectorPart {
      border-color: var(--engine-border-color);
    }
  }
}